.img_preview img{
  width: 200px;
}
.img_show {
  width: 450px;
}
.divdiv {
  text-align: center;
}
.topbar {
  text-align: center;
}
.button.secondary {
  position: absolute;
  top: 55px;
  right: 0;
}
