<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Login</h1>
    </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-form">
      <div class="control-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" ,class: "login-field" %>
      <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="control-group">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "login-field" %>
      <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <div><%= f.submit "Log in", class: "btn btn-primary btn-large btn-block" %></div>
      <% end %>
    </div>
  </div>
</div>
