<%= link_to 'Back', pictures_path, class: "info button" %>
<div class="divdiv">
  <%= image_tag @picture.photo, :class => "img_show"%>
<h3><%= @picture.image_name %></h3>
<br />
<p><%= @picture.image_description %></p>
<br />
<br />
<br/>
</div>
