body {
  background: #fff;
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

.ui.grid.index {
    margin-bottom: 2%;
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
}
.ui.grid {
  margin-left: 0;
  margin-right: 0;

}

.strc1 img{
  position: inherit;
	max-width: 100%;
	top: 10%;
	left: 10%;
}

h1:first-child{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.ui.grid>[class*="ten wide"].column {
  background-color: #F7EBED;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  width: 60%;
}
.ui.segment:last-child.paragraph{
  background-color: #F7EBED !important;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;

}
.cakes {
  color: #D2B3B8;
}
.home-info {
  text-align: center;
  width: 100%;
}
.row.row-index {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 100%;
  align-items:center !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 0.5%;
}
.six.wide.column {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 2.5% !important;
}
.ui.message>:first-child.container-home {
    text-align: center;
    margin-top: 0.5% !important;
    margin-bottom: 0 !important;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 500;
}
.column {
  padding: 0 !important;
}
.ui.message.message-home{
  padding: 0 0;
}
 .ten.wide.column.container-ten-wide {
  background-color: white !important;
}
.ui.segment.paragraph {
  height: 100%;
}
.ui.segment.paragraph p {
  background-color: #F7EBED !important;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  width: 70%;
  margin-left: 15%;
  padding-top: 5%;
}
.text-intro {
  width: 80%;
  margin-left: 10%;

}
