.navbar-default .navbar-nav>li>a {
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:active {
  color: #D2B3B8;
  background-color: transparent;
  border-color: 1px blue;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: none;
  box-shadow: none;
  background-color: transparent;
}

.navbar-default {
   border-color: white;
   background-color: transparent;
   background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
   box-shadow: none;

}

.navbar,
.navbar-default {
  background-color: transparent;
  margin-bottom: 0%;
  padding: 2% 0%;
  box-shadow: inset 0px 15px 18px -1px #F2F5F7;
}

.navbar-right {
  float: right!important;
  margin-right: -15px;
  font-family: 'Poppins', sans-serif;
}

.navbar-right> li > a > li > a{
  color: #777;
}
.navbar-right> li > a > li.active > a{
  color: #D2B3B8;
  text-decoration: none;
}
.navbar-right> li > a > li > a:hover{
  color: #D2B3B8;
  text-decoration: none;
}
