.ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg {
    width: 394px;
    height: auto;
    font-size: .92857143rem;
}

.ui.message p.chef {
  margin-bottom: 5%;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.9;
}
.about-header{
  margin-bottom: 0px !important;
}
.about-info{
  width: 80%;
  text-align: center;
  margin-bottom: 5% !important;
  display: inline-block;
  margin-left: 10% !important;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.9;
}
.ui.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 1rem 0;
    padding: 2em 2em;
    border-radius: 0;
    border: none;
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.9;
}
